<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ site.name }}</title>
	
 <link rel="icon" href="favicon.ico">	
 
  <link rel="stylesheet" href="/styelsheets/normalize.css">
  <link rel="stylesheet" href="/styelsheets/foundation.css">
  <link rel="stylesheet" href="/styelsheets/styles.css">	
	
</head>
<body>

	<div class="row">
		<div class="columns large-12">
			<h2><a href="/">About Pineapples</a></h2>
		</div>
	</div>

	{{ content }}
  	
  	<footer>
		{% include nav.html %}
  	</footer>

	<script src=".javascripts/modernizr.foundation.js"></script>

</body>
</html>
